.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}

#carddiv{
    background-image: url("https://blog.evbox.com/hs-fs/hubfs/TroniqHP-Parking-Scene1.jpg?width=1920&height=1080&name=TroniqHP-Parking-Scene1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 1em;
    width:auto;
    opacity: 1;
    
}

#maindiv{
    border-radius: 1em;
}

#formsdiv{
    padding: 20px;
    opacity: 0.8;
    border-radius: 1em;
}

#formsdiv .form-label:after {content:"*";color:red;}

.form-label label:after {
      content:"*"; 
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}



