#sectiondiv{
    background-image: url("../images/sihnupbg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 1em;
    width:auto;
    opacity: 1;
    
}

#divform .form-label:after {content:"*";color:red;}

.form-label label:after {
      content:"*"; 
}